body {
    background-color: #3f464b;
}
.container {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 5%;
    list-style: none;
}
/* container */
label {
    display:block;
    margin-bottom:4px;
    position: relative; /* to contain absolute elements */
    padding-left:30px; /* free space for custom radio button */
    cursor: pointer;
}
/* hide default radio button  */
label input[type=radio] {
    position: absolute; /* prevent taking any space */
    /* cross-browser hidingg */
    opactiy: 0;
    width:0;
    height:0;
}
/* custom radio button */
label span {
    position: absolute;
    /* position to the free space in <label> */
    top:0;
    left:0;
    width:20px;
    height:20px;
    background-color: #ddd;
    border-radius: 50%;
    transition: .3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
    content: "";
    position: absolute;
    display: none;

    /* middle */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #f8f8f8;
    width:8px;
    height:8px;
    border-radius:50%;
}
label:hover span {
    background-color: #ccc;
}

/**** Here's the trick ***/
label input:checked ~ span {
    background-color: #2eaadc;
}
label input:checked ~ span:after {
    display:block;
}

select {
    width: 100%;
    padding:10px;
    border-radius:10px;
}

input[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type=number] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type=date] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type=submit] {
    padding:10px;
    border:0;
    background-color: #2eaadc;
    box-shadow:0 0 15px 4px rgba(22, 192, 210, 0.34);
}